<div class="bookmini" itemscope="itemscope" itemtype="https://schema.org/Book">
    <a ng-href="/{{ ::vm.book.id }}"  title="{{ ::vm.book.name }}" rel="nofollow" itemprop="url">
        <img class="bookmini__cover rwd-img" ng-src="{{ ::vm.book.cover }}" alt="{{ ::vm.book.name }}" itemprop="image">
    </a>
    <div class="bookmini__data">
        <h3 class="bookmini__name">
            <a class="ck--softblack" ng-href="/{{ ::vm.book.id }}"  title="{{ ::vm.book.name }}" rel="nofollow" itemprop="name">{{ ::vm.book.name }}</a>
        </h3>
        <h4 class="bookmini__author" itemprop="author">By
            <span itemprop="author">{{ ::vm.book.author.name }}</span>
        </h4>
    </div>
    <div class="bookmini__info">
        <div class="left" itemprop="review" itemscope itemtype="http://schema.org/Review">
            <span class="ion-heart"></span>
            <span itemprop="reviewRating">{{ ::vm.book.likes }}</span>
        </div>
        <div class="right">
            <meta itemprop="datePublished" content="{{ ::vm.book.published }}">{{ ::vm.book.published | timeAgo }}
        </div>
    </div>
</div>


