<div class="pagination">
    <div ng-if="::vm.totalPages" class="collfull txt--center mtm">
        <ul class="pagination__list">
            <li class="pagination__item">
                <a href="" ng-if="::vm.rewind" ng-click="::vm.rewindHandler()" class="ion-arrow-left-c ck--softblack bck--white">
                    <span class="visuallyhidden">Primera</span>
                </a>
            </li>
            <li class="pagination__item">
                <a href="" ng-if="::vm.previous" ng-click="::vm.previousHandler()" class="ion-chevron-left ck--softblack bck--white">
                    <span class="visuallyhidden">Anterior</span>
                </a>
            </li>
            <li ng-repeat="page in ::vm.pages" class="pagination__item">
                <a href="" class="ck--softblack bck--white" ng-class="::{ 'pagination__item--current': page === vm.current }" ng-click="::vm.pageHandler(page)">{{ ::page }}</a>
            </li>
            <li class="pagination__item">
                <a href="" ng-if="::vm.next" ng-click="::vm.nextHandler()" class="ion-chevron-right ck--softblack bck--white">
                    <span class="visuallyhidden">Siguiente</span>
                </a>
            </li>
            <li class="pagination__item">
                <a href="" ng-if="::vm.forward" ng-click="::vm.forwardHandler()" class="ion-arrow-right-c ck--softblack bck--white">
                    <span class="visuallyhidden">Última</span>
                </a>
            </li>
        </ul>
    </div>
</div>
