/**
 * Grid
 */

.container {
    width: 80%;
    margin: 0 auto;
}

.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
    max-width: 80rem;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto
}

[class*='col'] {
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    width:100%;
}

.colfull { width: 100% }
.col1of3 { width: 33.33333% }

@media only screen and (max-width: 47.938em) {
    .container,
    [class*='col'] { width: 100% }

    .col1of3 { width: 50% }

    .row {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 28.750em) {
    .container,
    [class*='col'] { width: 100% }

    .row {
        padding-left: 0;
        padding-right: 0;
    }
}
